In [1]:
! pip install pymongo

Requirement already satisfied: pymongo in c:\users\tamilselvan.e\anaconda3\lib\site-packages (4.0.1)

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mangodb:mangodb@cluster0.rqrw4.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
### Database
db=client['db1']
### Collection
col=db['coll1']

### insert

- insert_one()

In [3]:
x=col.insert_one({ "name": "Peter", "address": "Lowstreet 27" })
print(x.inserted_id)

62104085afb74398e12080a0

In [4]:
col.find_one()

{'_id': ObjectId('62104085afb74398e12080a0'),
 'name': 'Peter',
 'address': 'Lowstreet 27'}

In [5]:
col.find()

In [6]:
for x in col.find():
    print(x)

{'_id': ObjectId('62104085afb74398e12080a0'), 'name': 'Peter', 'address': 'Lowstreet 27'}

- insert_many()

In [7]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [8]:
x=col.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('62104087afb74398e12080a1'), ObjectId('62104087afb74398e12080a2'), ObjectId('62104087afb74398e12080a3'), ObjectId('62104087afb74398e12080a4'), ObjectId('62104087afb74398e12080a5'), ObjectId('62104087afb74398e12080a6'), ObjectId('62104087afb74398e12080a7'), ObjectId('62104087afb74398e12080a8'), ObjectId('62104087afb74398e12080a9'), ObjectId('62104087afb74398e12080aa'), ObjectId('62104087afb74398e12080ab'), ObjectId('62104087afb74398e12080ac')]

In [9]:
for x in col.find():
    print(x)

{'_id': ObjectId('62104085afb74398e12080a0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62104087afb74398e12080a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62104087afb74398e12080a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62104087afb74398e12080a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62104087afb74398e12080a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62104087afb74398e12080a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62104087afb74398e12080a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62104087afb74398e12080a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62104087afb74398e12080a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62104087afb74398e12080a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62104087afb74398e12080aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62104087afb74398e12080ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62104087afb74398e12080ac'), 'name': 'Viola', 'address': 'Sideway 1633'}

### find

In [10]:
for x in col.find():
    print(x)

{'_id': ObjectId('62104085afb74398e12080a0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62104087afb74398e12080a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62104087afb74398e12080a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62104087afb74398e12080a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62104087afb74398e12080a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62104087afb74398e12080a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62104087afb74398e12080a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62104087afb74398e12080a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62104087afb74398e12080a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62104087afb74398e12080a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62104087afb74398e12080aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62104087afb74398e12080ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62104087afb74398e12080ac'), 'name': 'Viola', 'address': 'Sideway 1633'}

- find_one()

In [11]:
col.find_one()

{'_id': ObjectId('62104085afb74398e12080a0'),
 'name': 'Peter',
 'address': 'Lowstreet 27'}

In [12]:
col.find_one({'name':{'$regex':'^S'}})

{'_id': ObjectId('62104087afb74398e12080a4'),
 'name': 'Sandy',
 'address': 'Ocean blvd 2'}

- find()

In [13]:
list1 = [
        {
            "item": "canvas",
            "qty": 100,
            "size": {"h": 28, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "journal",
            "qty": 25,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mat",
            "qty": 85,
            "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "mousepad",
            "qty": 25,
            "size": {"h": 19, "w": 22.85, "uom": "cm"},
            "status": "P",
        },
        {
            "item": "notebook",
            "qty": 50,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "P",
        },
        {
            "item": "paper",
            "qty": 100,
            "size": {"h": 8.5, "w": 11, "uom": "in"},
            "status": "D",
        },
        {
            "item": "planner",
            "qty": 75,
            "size": {"h": 22.85, "w": 30, "uom": "cm"},
            "status": "D",
        },
        {
            "item": "postcard",
            "qty": 45,
            "size": {"h": 10, "w": 15.25, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketchbook",
            "qty": 80,
            "size": {"h": 14, "w": 21, "uom": "cm"},
            "status": "A",
        },
        {
            "item": "sketch pad",
            "qty": 95,
            "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
            "status": "A",
        },
    ]

In [14]:
col_2=db['coll2']
col_2.insert_many(list1)

In [15]:
col_2.find()

In [16]:
for x in col_2.find():
    print(x)

{'_id': ObjectId('62104087afb74398e12080ad'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080ae'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080af'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b0'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62104087afb74398e12080b1'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62104087afb74398e12080b2'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b3'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b4'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b5'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b6'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [17]:
for x in col_2.find({'qty':{'$gt':25}}):
    print(x)

{'_id': ObjectId('62104087afb74398e12080ad'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080af'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b1'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62104087afb74398e12080b2'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b3'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b4'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b5'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b6'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [18]:
for x in col_2.find({'qty':{'$gte':25}}):
    print(x)

{'_id': ObjectId('62104087afb74398e12080ad'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080ae'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080af'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b0'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'_id': ObjectId('62104087afb74398e12080b1'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'_id': ObjectId('62104087afb74398e12080b2'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b3'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('62104087afb74398e12080b4'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b5'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b6'), 'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [19]:
for x in col_2.find({'qty':{'$lt':25}}):
    print(x)

In [20]:
for x in col_2.find({'qty':{'$lte':25}}):
    print(x)

{'_id': ObjectId('62104087afb74398e12080ae'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b0'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}

In [21]:
for x in col.find({},{'_id':0,'name':0,'address':1}):
    print(x)

OperationFailure: Cannot do inclusion on field address in exclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do inclusion on field address in exclusion projection', 'code': 31253, 'codeName': 'Location31253', '$clusterTime': {'clusterTime': Timestamp(1645232262, 18), 'signature': {'hash': b'tZ\x1e\xccd\x8e\xa2e\xb4\xb2H\xa6\xf8m\xe1\xda=d\x19\x8b', 'keyId': 7019699990305964033}}, 'operationTime': Timestamp(1645232262, 17)}

In [22]:
for x in col.find({},{'_id':0,'name':0,'address':0}):
    print(x)

{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}
{}

In [23]:
for x in col.find({},{'_id':0,'name':1,'address':1}):
    print(x)

{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
for x in col.find({},{'_id':1,'name':1,'address':1}):
    print(x)

{'_id': ObjectId('62104085afb74398e12080a0'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('62104087afb74398e12080a1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('62104087afb74398e12080a2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('62104087afb74398e12080a3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('62104087afb74398e12080a4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('62104087afb74398e12080a5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('62104087afb74398e12080a6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('62104087afb74398e12080a7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('62104087afb74398e12080a8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('62104087afb74398e12080a9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('62104087afb74398e12080aa'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('62104087afb74398e12080ab'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('62104087afb74398e12080ac'), 'name': 'Viola', 'address': 'Sideway 1633'}

### Update

- update_one()

In [26]:
for x in col_2.find({'qty':25},{'_id':0}):
    print(x)

{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}

In [27]:
col_2.update_one({'qty':25},{'$set':{'qty':35}})

In [28]:
for x in col_2.find({'qty':35}):
    print(x)

{'_id': ObjectId('62104087afb74398e12080ae'), 'item': 'journal', 'qty': 35, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [29]:
col_2.update_one({'qty':25},{'$set':{'qty':35}})

In [30]:
for x in col_2.find({'qty':35}):
    print(x)

{'_id': ObjectId('62104087afb74398e12080ae'), 'item': 'journal', 'qty': 35, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('62104087afb74398e12080b0'), 'item': 'mousepad', 'qty': 35, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}

- update_many()

In [31]:
for x in col_2.find({},{'_id':0}):
    print(x)

{'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'journal', 'qty': 35, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 35, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [34]:
for x in col_2.find({'qty':{'$gt':75}},{'_id':0}):
    print(x)

{'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketch pad', 'qty': 95, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [36]:
col_2.update_many({'qty':{'$gt':75}},{'$set':{'qty':100}})

In [37]:
for x in col_2.find({'qty':{'$gt':75}},{'_id':0}):
    print(x)

{'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mat', 'qty': 100, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'sketchbook', 'qty': 100, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketch pad', 'qty': 100, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

In [39]:
for x in col_2.find({'qty':{'$lt':50}},{'_id':0}):
    print(x)

{'item': 'journal', 'qty': 35, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 35, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [40]:
x=col_2.update_many({'qty':{'$lt':50}},{'$set':{'qty':50}})
print(x.modified_count)

3

In [41]:
for x in col_2.find({'qty':{'$lte':50}},{'_id':0}):
    print(x)

{'item': 'journal', 'qty': 50, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 50, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'item': 'postcard', 'qty': 50, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

### delete

In [44]:
for x in col_2.find({},{'_id':0}):
    print(x)

{'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'journal', 'qty': 50, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mat', 'qty': 100, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 50, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'item': 'postcard', 'qty': 50, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketchbook', 'qty': 100, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'sketch pad', 'qty': 100, 'size': {'h': 22.85, 'w': 30.5, 'uom': 'cm'}, 'status': 'A'}

- delete_one()

In [45]:
x=col_2.delete_one({'status':'D'})
print(x.deleted_count)

1

- delete_many()

In [50]:
for x in col_2.find({'qty':50},{'_id':0}):
    print(x)

{'item': 'journal', 'qty': 50, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'mousepad', 'qty': 50, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}
{'item': 'postcard', 'qty': 50, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [51]:
x=col_2.delete_many({'qty':50})
print(x.deleted_count,'records deleted')

4 records deleted

In [53]:
for x in col_2.find({'qty':50},{'_id':0}):
    print(x)

#### sort

- 1 - Ascending(By Default)
- -1  - Descending

In [59]:
for x in col.find({},{'_id':0}).sort('name'):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}

In [60]:
for x in col.find({},{'_id':0}).sort('name',1):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}

In [61]:
for x in col.find({},{'_id':0}).sort('name',-1):
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}

### limit

In [62]:
for x in col.find({},{'_id':0}).sort('name'):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}

In [63]:
for x in col.find({},{'_id':0}).sort('name').limit(5):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}

In [64]:
for x in col.find({},{'_id':0}).sort('name').limit(3):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}

### drop()

In [65]:
print(db.list_collection_names())

['coll2', 'coll1']

In [68]:
col.drop()

In [69]:
print(db.list_collection_names())

['coll2']

In [74]:
col_2.drop()

In [75]:
print(db.list_collection_names())

[]

In [76]:
print(client.list_database_names())

['m_1', 'admin', 'local']